/* Tooltip blinking bug. */
svg > g > g.google-visualization-tooltip {
  pointer-events: none;
}

@media only screen and (max-width: 993px) {
  #yearlyactivities,
  #timespentonaspecifictask,
  #navTask,
  #navYear {
    display: none;
  }
}

.pseudolink {
  cursor: pointer;
  color: #0d6efd;
}
